@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script');

/* Mobil Version */
body {
  margin: 0px;
  background-color: rgb(63,63,63);
}

.wrapper {
  width: 100%;
  height: 100%;
  margin: 0px
}

a {
  text-decoration: none;
}

h1 {
  float: left;
  font-size: 40px;
  font-family: 'Nanum Pen Script';
  margin-right: 90%;
  margin-top: 50%;
  color: white;
}

h2 {
  width: 175px;
  margin-left: 51%;
  float: right;
  font-size: 30px;
  font-family: 'Nanum Pen Script';
  color: white;
}

h3 {
  color: white;
  font-size: 20px;
  font-family: 'Nanum Pen Script';
}

.intro {
  position: relative;
  margin: 0px;
  font-size: 16px;
  font-family: 'Nanum Pen Script';
  }

.intro video {
  display: none;
  width: 100%;
  border: 0px;
}

.play-knap  {
  display: none;
}

.pause-knap {
  display: none;
}

.muted-knap {
  display: none;
}

.unmuted-knap {
  display: none;
}

.intro img {
  width: 84%;
  margin-left: 8%;
  margin-right: 8%;
  padding-top: 35%;
  padding-bottom: 14%;

}

.ytikon {
  position: absolute;
  margin-top: 14%;
  left: 1%;
  margin-left: 0px;
  color: rgb(0,0,0);
  font-size: 40px;
  color: white;
}

.fbikon {
  position: absolute;
  margin-top: 14%;
  left: 10%;
  margin-left: 1%;
  color: rgb(0,0,0);
  font-size: 40px;
  color: white;
}



.intro .tilfældig_tekst {
  position: absolute;
  left: 1px;
  bottom: 60px;
  background-color: rgba(69,24,10,.8);
  width: 100%;
}

.intro .tilfældig_tekst p {
  font-size: 3em;
  margin: 0;
  padding: 10px 0px;
  text-align: center;
  color: rgb(255,255,255);
  border-top: 1px solid rgb(255,255,255);
  border-bottom: 1px solid rgb(255,255,255);
}

.intro .merch_knap {
  display: none;
  position: absolute;
  right: -14px;
  margin-right: 5%;
  top: 105%;
}

.intro .merch_knap h3 {
  font-size: 30px;
}

.intro .billeder_knap {
  display: none;
  position: absolute;
  margin-top: 0px;
  height: 20px;
  top: 0%;
  left: 2%;
  margin-left: 0px;
  width: 80%;
  color: blue;
}

.intro .billeder_knap h3 {
  font-size: 30px;
  height: 50px;
  margin: 0px;
}

.merch img {

  width: 50%;
  height: 70%;
  margin-left: 25%;
  margin-top: 1%;
}

.billeder {
  margin-bottom: 2%;
}

.billeder img {

  width: 50%;
  height: 70%;
  margin-left: 25%;
  margin-top: 1%;
  margin-bottom: 2%;
}

.hide_show_knapper h5 {
  display: none;
}

.hide_show_knapper h4 {
  display: none;
}

.burger-menu-toggle {
  position: absolute;
  top: 1%;
  left: 85%;
  margin-left: 1%;
  color: rgb(0,0,0);
  font-size: 40px;
  color: white;
}

.burger-menu-udfoldet {
  display: none;
  background-color: rgb(0,0,0);
  position: absolute;
  text-align: center;
  top: 9%;
  width: 23%;
  margin-left:77%;
  color: rgb(0,0,0);
  font-size: 40px;
}

.burger-menu-udfoldet h3{
  margin-top: .5%;
  margin-bottom: .5%;
}





/* Tablet Version */
@media screen and (min-width: 700px) {

  body {
    margin: 0px;
    background-color: rgb(63,63,63);
  }

a {
  text-decoration: none;
}

  h1 {
    float: left;
    font-size: 40px;
    font-family: 'Nanum Pen Script';
    margin-right: 90%;
    margin-top: 5%;
    margin-left: 4%;
  }

  h2 {
    margin-left: 75%;
    float: right;
    font-size: 30px;
    font-family: 'Nanum Pen Script';
    margin-right: 4%;
  }

  h3 {
    color: white;
    font-size: 50px;
    font-family: 'Nanum Pen Script';
    text-decoration: none;
    margin-bottom: 0px;
  }

  .intro {
    position: relative;
    margin: 0px;
    font-size: 16px;
    font-family: 'Nanum Pen Script';
    }

  .intro video {
    display: block;
    width: 100%;
    border: 0px;
  }

  .play-knap {
    display: none;
    font-size: 45px;
    color: white;
    position: absolute;
    top: 0%;
    right: 8.5%;
    margin-left: 0px;
  }

  .pause-knap {
    display: initial;
    font-size: 45px;
    color: white;
    position: absolute;
    top: 0%;
    right: 8.5%;
    margin-left: 0px;
  }

  .muted-knap {
    display: none;
    font-size: 45px;
    color: white;
    position: absolute;
    top: 0%;
    right: .5%;
    margin-left: 0px;
  }

  .unmuted-knap {
    display: initial;
    font-size: 45px;
    color: white;
    position: absolute;
    top: 0%;
    right: 2.5%;
    margin-left: 0px;
  }


  .intro img {
    width: 350px;
    position: absolute;
    top: 38%;
    margin-top: -100.5px;
    left: 51%;
    margin-left: -200px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }



  .ytikon {
    position: absolute;
    margin-top: -10%;
    left: 1%;
    margin-left: 0px;
    margin-right: 1%;
    color: rgb(75,75,75);
    font-size: 65px;
  }

  .fbikon {
    position: absolute;
    margin-top: -10%;
    left: 8%;
    margin-left: 1.4%;
    color: rgb(75,75,75);
    font-size: 65px;
  }



  .intro .merch_knap {
    display: initial;
    position: absolute;
    right: -21px;
    top: 75%;
    height: 130px;
  }

  .intro .merch_knap h3 {
    font-size: 45px;
    margin-bottom: 0px;
  }

  .intro .billeder_knap {
    display: initial;
    position: absolute;
    width: 180px;
    top: 0%;
    left: 2%;
    margin-left: 0px;
    color: blue;
    font-size: 150px;
  }

  .intro .billeder_knap h3 {
    font-size: 45px;
  }

  .merch img {
    width: 25%;
    height: 35%;
    margin-left: 6%;
    margin-top: 0%;
  }

  .billeder {
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 2%;
}

  .billeder img {
    float: left;
    width: 35%;
    margin-left: 50%;
    margin-left: 10%;
    margin-top: 1%;
    margin-right: 3%;
  }


.hide_show_knapper h4 {
  display: initial;
  font-size: 40px;
  font-family: 'Nanum Pen Script';
  color: white;
  position: absolute;
  top: -4.2%;
  right: 16%;
  margin-left: 0px;
}

.hide_show_knapper h5 {
  display: none;
  font-size: 41px;
  font-family: 'Nanum Pen Script';
  color: rgb(75,75,75);
  position: absolute;
  top: -5.5%;
  right: 16.5%;
  margin-left: 0px;
}

.burger-menu-toggle {
  display: none;
}

.burger-menu-udfoldet {
  display: none;
}



}






/* Desktop version */
@media screen and (min-width: 1265px) {

  body {
    margin: 0px;
    background-color: rgb(63,63,63);
  }

a {
  text-decoration: none;
}

  h1 {
    float: left;
    font-size: 40px;
    font-family: 'Nanum Pen Script';
    margin-right: 90%;
    margin-top: 5%;
    margin-left: 4%;
  }

  h2 {
    width: 200px;
    margin-left: 86%;
    float: right;
    font-size: 30px;
    font-family: 'Nanum Pen Script';
    margin-right: 2%;
  }

  h3 {
    color: white;
    font-size: 50px;
    font-family: 'Nanum Pen Script';
    text-decoration: none;
    margin-bottom: 0px;
  }

  .intro {
    position: relative;
    margin: 0px;
    font-size: 16px;
    font-family: 'Nanum Pen Script';
    }

  .intro video {
    display: block;
    width: 100%;
    border: 0px;
  }

  .play-knap {
    display: none;
    font-size: 50px;
    color: white;
    position: absolute;
    top: 1%;
    right: 4.5%;
    margin-left: 0px;
  }

  .pause-knap {
    display: initial;
    font-size: 50px;
    color: white;
    position: absolute;
    top: 1%;
    right: 4.5%;
    margin-left: 0px;
  }

  .muted-knap {
    display: none;
    font-size: 50px;
    color: white;
    position: absolute;
    top: 1%;
    right: .5%;
    margin-left: 0px;
  }

  .unmuted-knap {
    display: initial;
    font-size: 50px;
    color: white;
    position: absolute;
    top: 1%;
    right: 1.5%;
    margin-left: 0px;
  }


  .intro img {
    width: 500px;
    position: absolute;
    top: 38%;
    margin-top: -169.5px;
    left: 50%;
    margin-left: -250px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }



  .ytikon {
    position: absolute;
    margin-top: -8%;
    left: 1%;
    margin-left: 0px;
    margin-right: 1%;
    color: rgb(75,75,75);
    font-size: 100px;
  }

  .fbikon {
    position: absolute;
    margin-top: -8%;
    left: 8%;
    margin-left: .2%;
    color: rgb(75,75,75);
    font-size: 100px;
  }



  .intro .merch_knap {
    display: initial;
    position: absolute;
    right: -40px;
    top: 80%;
    height: 130px;
  }

  .intro .merch_knap h3 {
    font-size: 60px;
    margin-bottom: 0px;
  }

  .intro .billeder_knap {
    display: initial;
    position: absolute;
    width: 180px;
    top: 0%;
    left: 2%;
    margin-left: 0px;
    color: blue;
    font-size: 150px;
  }

  .intro .billeder_knap h3 {
    font-size: 60px;
  }

  .merch img {
    width: 25%;
    height: 35%;
    margin-left: 6%;
    margin-top: 0%;
  }

  .billeder {
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 5%;
}

  .billeder img {
    float: left;
    width: 35%;
    margin-left: 50%;
    margin-left: 10%;
    margin-top: 1%;
    margin-right: 3%;
  }


.hide_show_knapper h4 {
  display: initial;

  font-size: 50px;
  font-family: 'Nanum Pen Script';
  color: white;
  position: absolute;
  top: -6%;
  right: 9%;
  margin-left: 0px;
}

.hide_show_knapper h5 {
  display: none;
  font-size: 51px;
  font-family: 'Nanum Pen Script';
  color: rgb(75,75,75);
  position: absolute;
  top: -8%;
  right: 8.5%;
  margin-left: 0px;
}

.burger-menu-toggle {
  display: none;
}

.burger-menu-udfoldet {
  display: none;
}



}
